.project {
  margin: auto 0 auto 0;
  padding: 0 10px 0 10px;
  width: 175px;
  border-radius: 1rem;
  border: 1px solid black;
  background-image: linear-gradient(to bottom right,#A1D6E2, #417682);
  box-shadow: -0.3em 0.25em 0.25em #2C2A2E;
}
