html, body {
  font-family: Verdana;
  height: 99%;
}

table {
  width: 99%;
  height: 100%;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.navElement {
  display: inline;
  margin-right: 20px;
  font-size: 1.3rem;
  font-weight: bolder;
  cursor: pointer;
}

.infoHeader {
  font-weight: bold;
  font-size: 1.2rem;
}

.infoDiv {
  font-size: 0.9rem;
}

.projectAccordian {
  font-family: Verdana;
  background-color: white;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  border: 1px solid lightgrey;
  padding-top: 15px;
  padding-bottom: 15px;
}

.projectPanel{
  font-weight: bold;
  cursor: pointer;
  margin: 0px;
  text-align: center;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.projectPanel div {
  font-size: 0.9rem;
  border: 1px solid lightgrey;
}

#infoRow {
  font-size: 1.2rem;
  vertical-align: top;
}

#topNavigation {
  height: 25px;
  border-bottom: 2px lightgrey solid;
}

#projectNavigation {
  width: 15%;
}

#myName {
  float: right;
}
